## A basic GitHub Actions workflow for your Quarkus application.

name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:
  
env:
  QUARKUS_CONTAINER_IMAGE_USERNAME: ${{ secrets.DOCKER_HUB_LOGIN }}
  QUARKUS_CONTAINER_IMAGE_PASSWORD: ${{ secrets.DOCKER_HUB_PWD }}
  MVN_SETTINGS: ${{ secrets.MVN_SETTINGS }}
  GPG_KEY: ${{ secrets.GPG_KEY }}


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
       distribution: 'temurin'
       java-version: '21'
       cache: 'maven'
    - name: Build with Maven
      run: mvn -B package --file pom.xml
  
    
    - name: Checkout gh-repo
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: temurin
        cache: 'maven'

    - name: Build
      run: |
        echo ${MVN_SETTINGS} > /tmp/settings.xml
        echo -n "$GPG_KEY" | base64 --decode | gpg --import
        mvn deploy -s /tmp/settings.xml
        rm -f /tmp/settings.xml
        rm -rf /home/runner/.gpg
